# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [29]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    
    Output: the transformed list
    """
    res = []
    #your code here:
    for i in lst:
        res.append(lmbda(i))
    return res

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [23]:
# Your code here:

lfct = lambda c: c + 273.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [30]:
temps = [12, 23, 38, -55, 24]

# Your code here:
modify_list(temps,lfct)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [36]:
# Your code here:
mod = lambda a, b: 1 if a%b == 0 else 0
mod(8,4)

1

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [41]:
def divisor(b):
    """
    input: a number
    output: a function that returns 1 if the number is divisible by another number (to be passed later) and zero otherwise
    """
    
    # Your code here:
    return lambda a: 1 if a % b == 0 else 0

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [42]:
# Your code here:
divisible5 = divisor(5)

Test your function with the following test cases:

In [43]:
divisible5(10)

1

In [44]:
divisible5(8)

0

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [51]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
print([x for x in zip(l)])
print(list(zip(l)))

[(1,), (2,), (3,), (4,), (5,)]
[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position. Here is an example using a list comprehension.

In [52]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

#Your code here:
print(list(zip(list1,list2)))

[('Green', 'eggs'), ('cheese', 'cheese'), ('English', 'cucumber'), ('tomato', 'tomato')]

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [62]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# Your code here:

sortfct = lambda x: x.sort()[1]
print(sortfct(list3))

TypeError: 'NoneType' object is not subscriptable

In [65]:
print(d.keys())

dict_keys(['Honda', 'Toyota', 'Audi', 'BMW'])

In [66]:
print(d)

{'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [67]:
print(d.values())

dict_values([1997, 1995, 2001, 2005])

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [3]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}
print(type(d))
print(type(d.values()))
# Your code here:
sorted = sorted(d, key=lambda d: d[1])
print(sorted)

{k: v for k, v in sorted(x.items(), key=lambda item: item[1])}

<class 'dict'>
<class 'dict_values'>
['BMW', 'Honda', 'Toyota', 'Audi']

NameError: name 'x' is not defined

In [82]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}
# Your code here:

sorted(d.items(), key=lambda x: x[1])

NameError: name 'i' is not defined

In [83]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

# Your code here:

sorted(d.items(), key=lambda x: x[1])

TypeError: 'list' object is not callable

In [1]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

print(d.items())
# Your code here:

sorted(d.items(), key=lambda a: a[1])

dict_items([('Honda', 1997), ('Toyota', 1995), ('Audi', 2001), ('BMW', 2005)])

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]