# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [4]:
onetofifty = [i for i in range(1,51)]
print(onetofifty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [7]:
twotohundred = [i for i in range(2,201) if i%2 == 0]
print(twotohundred)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [8]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [25]:
alist = []
for i in a:
    for j in i:
        alist.append(j)
        
print(alist)


blist = [i for j in a for i in j]
print(blist)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]
[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [26]:
blist = [i for j in a for i in j if i >= 0.5]
print(blist)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [27]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [32]:
blist = [i for j in a for i in j]
print(blist)

clist = [i for j in k for k in b for j in k for i in j]
print(clist)

lst = [y for i in b for x in i for y in x]

i for j:
    in a for:
        i in j.

y for:
    i in b for:
        x in i:
            for y in x

SyntaxError: invalid syntax (<ipython-input-32-b929e0b42fab>, line 9)

In [34]:
blist = [i for j in b for i in j]
print(blist)
blist = [i for j in blist for i in j if i=>0.5]
print(blist)

[array([0.55867166, 0.06210792, 0.08147297]), array([0.82579068, 0.91512478, 0.06833034]), array([0.05440634, 0.65857693, 0.30296619]), array([0.06769833, 0.96031863, 0.51293743]), array([0.09143215, 0.71893382, 0.45850679]), array([0.58256464, 0.59005654, 0.56266457]), array([0.71600294, 0.87392666, 0.11434044]), array([0.8694668 , 0.65669313, 0.10708681]), array([0.07529684, 0.46470767, 0.47984544]), array([0.65368638, 0.14901286, 0.23760688])]
[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

[0.55867166, 0.82579068, 0.91512478, 0.65857693, 0.96031863, 0.51293743, 0.71893382, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.8694668, 0.65669313, 0.65368638]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [ ]:
blist = [i for j in b for i in j]
blist = [i for j in blist for i in j if i >= 0.5]
print(blist)

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [53]:
import os
print(os.listdir("../data"))

['your-code', 'README.md', 'data']
['sample_file_8.txt', 'sample_file_9.txt', 'sample_file_1.csv', 'sample_file_0.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_7.csv', 'sample_file_6.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_8.csv', 'sample_file_9.csv', 'sample_file_2.txt', 'sample_file_3.txt', 'sample_file_1.txt', 'sample_file_0.txt', 'sample_file_4.txt', 'sample_file_5.txt', 'sample_file_7.txt', 'sample_file_6.txt']

In [50]:
df = pd.read_csv("~/Ironhack/data-ber-01-20/Labs/module-1_labs/01_python/05_lab-list-comprehensions/data/sample_file_0.csv")

In [51]:
print(df)

          0         1         2         3         4         5         6  \
0  0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1  0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2  0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3  0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4  0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163

          7         8         9        10        11        12        13  \
0  0.058092  0.753502  0.587513  0.311608  0.178356  0.182922  0.147631
1  0.601524  0.688753  0.338870  0.081595  0.471474  0.267443  0.453351
2  0.584542  0.032594  0.589775  0.764350  0.650973  0.565705  0.691784
3  0.260279  0.528873  0.168043  0.715929  0.677014  0.175735  0.632370
4  0.892210  0.381701  0.415264  0.790801  0.696930  0.819751  0.944029

         14        15        16        17        18        19
0  0.391188  0.816049  0.749068  0.293260  0.937828  0.880858
1  0.800716  0.045749  0.683793  0.389789  0.016787  0.503695
2  0.265223  0.739031  0.560394  0.334802  0.517694  0.646110
3  0.926715  0.085675  0.120525  0.141746  0.771144  0.489660
4  0.869965  0.041723  0.819140  0.676051  0.109349  0.872947

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [55]:
import pandas as pd

In [75]:
df = [pd.read_csv("../data/"+i) for i in os.listdir("../data")]
df = pd.concat(df, axis=0)
print(df)

           0         1         2         3         4         5         6  \
0   0.132453  0.106635  0.673568  0.507253  0.162925  0.130042  0.980388
1   0.384938  0.767604  0.850528  0.605998  0.826172  0.667488  0.142045
2   0.318691  0.675720  0.807189  0.752518  0.531342  0.703225  0.598293
3   0.538593  0.291241  0.407187  0.613260  0.851424  0.962086  0.590512
4   0.713271  0.156210  0.392800  0.702348  0.009400  0.030304  0.960066
..       ...       ...       ...       ...       ...       ...       ...
0   0.702566  0.092336  0.245083  0.918402  0.695110  0.886921  0.588605
1   0.177005  0.649551  0.467321  0.449597  0.458872  0.815586  0.455132
2   0.689556  0.445586  0.005691  0.150171  0.554146  0.492320  0.185612
3   0.047188  0.854596  0.833368  0.043878  0.883505  0.786302  0.980916
4   0.936065  0.725831  0.184239  0.677391  0.242726  0.125457  0.356254

           7         8         9        10        11        12        13  \
0   0.623167  0.074066  0.111557  0.864664  0.093637  0.446974  0.022525
1   0.086904  0.912348  0.892183  0.426389  0.776552  0.429496  0.602056
2   0.921508  0.563333  0.184300  0.667625  0.270017  0.573440  0.163669
3   0.980700  0.159022  0.684265  0.898633  0.470113  0.756593  0.282408
4   0.688937  0.260252  0.634608  0.273775  0.264145  0.682941  0.908499
..       ...       ...       ...       ...       ...       ...       ...
0   0.950970  0.168079  0.783107  0.698836  0.120857  0.207432  0.824789
1   0.729812  0.998528  0.048724  0.377391  0.729498  0.721515  0.566724
2   0.060855  0.457443  0.847337  0.603072  0.346574  0.898464  0.482963
3   0.004030  0.619601  0.547769  0.160962  0.545281  0.931623  0.991855
4   0.937350  0.215774  0.212762  0.483018  0.573162  0.634487  0.423924

          14        15        16        17        18        19
0   0.713369  0.707874  0.563506  0.982256  0.562498  0.968681
1   0.283769  0.166793  0.316878  0.688337  0.169525  0.966198
2   0.032852  0.689315  0.973684  0.719610  0.163670  0.724486
3   0.551369  0.732153  0.494100  0.792803  0.794426  0.837695
4   0.450950  0.200761  0.968324  0.221165  0.891382  0.398914
..       ...       ...       ...       ...       ...       ...
0   0.349212  0.818606  0.376941  0.886644  0.472826  0.551858
1   0.338366  0.877239  0.129824  0.773155  0.485385  0.686294
2   0.443979  0.430132  0.713078  0.302786  0.051382  0.203699
3   0.821099  0.654592  0.346710  0.183948  0.372739  0.739383
4   0.394633  0.766967  0.606719  0.538712  0.885516  0.667051

[100 rows x 20 columns]

In [77]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [80]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,0.864664,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,0.426389,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,0.667625,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,0.898633,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,0.273775,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914
0,0.215190,0.155352,0.160848,0.807736,0.363587,0.899832,0.146754,0.094802,0.705133,0.882762,0.773320,0.687745,0.016789,0.340725,0.984182,0.985461,0.412044,0.867894,0.113432,0.349845
1,0.895544,0.955196,0.089925,0.827555,0.089071,0.642883,0.996052,0.879020,0.421837,0.412141,0.858513,0.217091,0.176157,0.551236,0.834378,0.419535,0.041431,0.602258,0.984628,0.516899
2,0.413752,0.693052,0.789796,0.929164,0.536191,0.439769,0.773474,0.982074,0.876955,0.633154,0.279005,0.483317,0.908288,0.756172,0.462130,0.289892,0.145233,0.076819,0.797836,0.197592
3,0.728001,0.348156,0.935787,0.851163,0.444573,0.715080,0.988408,0.210332,0.732133,0.892383,0.216893,0.367595,0.846208,0.240111,0.471880,0.399721,0.758196,0.665568,0.931542,0.448124
4,0.134942,0.875931,0.273505,0.207588,0.080696,0.717396,0.033930,0.646837,0.888722,0.922742,0.176593,0.861333,0.389451,0.695244,0.129955,0.364114,0.428224,0.365442,0.847818,0.588319

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [91]:
import statistics

In [119]:
columnsData = list(df.iloc[ : , 0])
print(statistics.median(columnsData))
for i in list(df):
    print(statistics.median(list(df.loc[ : , i])), "median of column", i)
[print(i) for i in list(df) if statistics.median(list(df.loc[ : , i]))<=0.48]

0.5183927088531357
0.5183927088531357 median of column 0
0.4982976284251167 median of column 1
0.47617375620406 median of column 2
0.6177974469785128 median of column 3
0.5443924803856541 median of column 4
0.6525702257070289 median of column 5
0.5895587762839766 median of column 6
0.6525833914513712 median of column 7
0.4841639880065958 median of column 8
0.4561419452336911 median of column 9
0.5294121425646423 median of column 10
0.5175904648111134 median of column 11
0.45088123042636974 median of column 12
0.6935141238122557 median of column 13
0.4326206030433662 median of column 14
0.5742865070877934 median of column 15
0.527874493149453 median of column 16
0.47384343112174854 median of column 17
0.5370667066122712 median of column 18
0.5563000721000172 median of column 19
2
9
12
14
17

[None, None, None, None, None]

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [121]:
results = [x[0] for col in df.columns]
print(results)

NameError: name 'x' is not defined

In [122]:
print(iris.keys())

NameError: name 'iris' is not defined

In [ ]:
new_keys = [key.replace("__","_") for key in sample.keys()]

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.