## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[93, 52, 84, 74, 75, 69, 51, 2, 36, 19, 96, 34, 63, 56, 98, 8, 73, 92, 24, 21, 13, 40, 86, 22, 72, 87, 44, 4, 35, 80, 95, 50, 0, 79, 43, 61, 12, 31, 17, 66, 54, 49, 59, 27, 23, 48, 70, 16, 32, 20, 78, 18, 39, 6, 94, 14, 33, 77, 53, 57, 42, 65, 99, 26, 76, 67, 68, 3, 1, 97, 9, 58, 25, 29, 71, 82, 7, 47, 11, 81]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
set1 = set(sample_list_1)
print(len(set1))
print(len(set1)==len(sample_list_1))

80
True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
sample_list_2 = list()
for i in range(1,80):
    sample_list_2.append(random.sample(range(0,100),1))
print(sample_list_2)

[[35], [16], [15], [51], [62], [38], [27], [15], [26], [74], [99], [2], [38], [62], [13], [10], [0], [60], [99], [70], [3], [70], [99], [45], [8], [37], [70], [50], [33], [26], [81], [97], [89], [55], [63], [36], [54], [55], [44], [62], [63], [8], [0], [22], [80], [18], [44], [29], [11], [80], [74], [53], [5], [25], [82], [12], [3], [68], [85], [75], [25], [7], [77], [56], [33], [18], [20], [12], [81], [51], [82], [6], [3], [44], [24], [24], [45], [23], [46]]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
flat_list = []
for sublist in sample_list_2:
    for item in sublist:
        flat_list.append(item)
sample_list_2 = flat_list
set2 = set(sample_list_2)
print(len(set2))
print(len(set2)==80)

51
False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 4, 9, 14, 17, 19, 21, 31, 32, 34, 39, 40, 42, 43, 47, 48, 49, 52, 57, 58, 59, 61, 65, 66, 67, 69, 71, 72, 73, 76, 78, 79, 84, 86, 87, 92, 93, 94, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4 = set2 - set1
print(set4)

{37, 5, 38, 10, 45, 46, 15, 85, 55, 89, 60, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
# Your code here
set5 = set1 & set2
print(set5)

{0, 2, 3, 6, 7, 8, 11, 12, 13, 16, 18, 20, 22, 23, 24, 25, 26, 27, 29, 33, 35, 36, 44, 50, 51, 53, 54, 56, 63, 68, 70, 74, 75, 77, 80, 81, 82, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)

#### Create an empty set called `set6`.

In [24]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [26]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
print(set2.issubset(set1),"set1")

print(set3.issubset(set1),"set2")

False set1
True set2

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
print(set1)
set1.pop()
print(set1)

{3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 39, 40, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 92, 93, 94, 95, 96, 97, 98, 99}
{4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 39, 40, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [39]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{4, 6, 7, 8, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 32, 33, 34, 35, 36, 40, 42, 43, 44, 47, 48, 50, 52, 53, 54, 56, 57, 58, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 86, 87, 92, 93, 94, 95, 96, 97, 98}